[2018-05-12 01:03] obastemur opened #5 "mxchip: Implement memory usage API"
Upcoming MXChip AZ3166 firmware will fix the memory API bugs. See -> https://github.com/Microsoft/devkit-sdk/issues/821

Track the release of fix and update the mxchip sample here after.

[2018-05-15 17:14] benbp opened #7 "Connection string/telemetry data fields not found on device config page"
I have been running through the docs for setting up the MXChip (https://docs.microsoft.com/en-us/azure/iot-central/howto-connect-devkit), and step 7 shows that I should be able to navigate to 192.168.0.1/start in order to set up the connection string and telemetry data. I'm having two issues here:

1. The start page is not found (/start), but it looks like a recent commit moved the HTML into [http

[2018-05-15 18:01] obastemur commented on #7
@benbp how did you deploy to your board? i.e. you might download the `bin` file from https://github.com/Azure/iot-central-firmware/releases and drag-drop into your board (it should appear as a new external disk drive)

[2018-05-15 21:08] benbp commented on #7
@obastemur I did the drag and drop method to the USB device. The board is on 1.3.5.53 (which it reported as latest on the display before I upgraded), though it looks like the latest release from your link is 1.2.0. Perhaps I'm too bleeding edge?

[2018-05-16 00:33] obastemur commented on #7
Sorry for the confusion. `1.3.5` is the bootloader version while `1.2.0` is our sample project version. They are both latest. `1.2.0` is compatible with `1.3.5`. So, if you want to see the demo; go ahead and drag and drop `1.2.0` from our releases.

[2018-05-16 00:35] obastemur commented on #7
Also added `Compatible with latest MXCHIP boot loader 1.3.5+` line to our release log.

[2018-05-16 09:20] turbolego opened #8 "Connection error when trying to connect to iot central using sample devkits template"
Hi!

I'm following this guide: [https://docs.microsoft.com/en-us/azure/iot-central/howto-connect-raspberry-pi-python](https://docs.microsoft.com/en-us/azure/iot-central/howto-connect-raspberry-pi-python)

I'm using a Raspberry Pi 2 with 2018-04-18-raspbian-stretch-lite with window-manager installed.

Fixes i had to do in order to run the sample:

I had to install pygame:
`sudo pip3 install pygame`

[2018-05-17 19:38] benbp commented on #7
Sorry @obastemur haven't had a chance to test. I assume it will work but will holler if not. Thanks for the help!

[2018-05-17 21:27] obastemur commented on #8
@firedog1024  might comment better on this but AFAIK the sample is more compatible with python 2.

[2018-05-17 22:58] firedog1024 commented on #8
The sample was written with python 3.  We used Raspian Stretch full version and not the lite during development and testing.  Based on what I'm seeing in the errors it appears that there is an issue establishing the secure connection needed for MQTT down in the IoT hub client python library, possibly a necessary dependency is not available or the correct version is not installed.  This would seem

[2018-05-18 07:11] turbolego commented on #8
Thank you @firedog1024 , I had to use the lite version because my 8gb sd-card died and i only had a 4gb spare.

I'll buy a RBPi3 with a bigger sd-card today and try with that.

Will report back my findings, thank you!

[2018-05-18 10:45] turbolego commented on #8
Alright, i bought an Raspberry pi 3 (Model B) and loaded it up with 2018-04-18-raspbian-stretch (not lite) on a 32GB SD-card.
I downloaded the RaspberryPi-IoT-Central-1.0.0.zip and ran it.

I'm getting the same error as before.
Could this be a problem with my Azure setup? Or firewall or something?

I'm using the ["Sample Devkits" example mentioned in the guide](https://docs.microsoft.com/en-us/azu

[2018-06-17 21:15] guybartal opened #13 "after coping program.bin int AZ3166 via USB and enter AP can't find /START page"
I've copied [program.bin](https://github.com/Azure/iot-central-firmware/releases/download/mxchip-v1.3.0/program.bin) into my AZ3166, and after reboot I've entered AP mode, connected with my PC to http://192.168.0.1/start and i got error page with says start page is not found,
are you sure you've burn the image along with the iot central application?
if i go to the root at http://192.168.0.1 i get

[2018-06-18 02:36] obastemur commented on #13
@guybartal just tried from scratch and it worked for me. Can you please send a screen shot of 192.168.0.1 render?

My guess is that.. 192.168.0.X is also what your home / work wifi DHCP provides. Is it possible that your pc was connected to another wifi instead?

[2018-06-19 02:33] obastemur commented on #13
will close this for now as it's not reproducible. feel free to open it back.

[2018-06-19 02:33] #13 closed

[2018-07-27 23:33] #5 closed

[2018-09-12 10:22] honorew opened #19 "How to update the uwp program on a device？"
I want to update the uwp program on a device via IotHub,Is there any good solution?
Thanks。

[2018-09-19 08:08] pietrobr opened #21 "Where is the Connection String in Iot Central"
Hi, I have installed latest version of Iot Central, Dev Kit. Created a Raspberry PI Real Device.

If I go to connection I see the primary/secondary key and a scopeid, but not the full connection string that I need to configure the firmware I downlaoded from main branch of GitHub.

I have also seen that under /release there is an new one zip package that requires the scopeID as parameter in main.py

[2018-09-19 08:12] obastemur commented on #21
Azure IoT Central moved on to Device Provisioning Service with (Group Symmetric Key or Group X509), so you got one of these options as well.

You may still create a connection string using an additional tool -> (look at the README) https://github.com/Azure/dps-keygen

If you use the scopeId with the example, you should register a new x509 cert as well. You may simply create a connection string cre

[2018-09-19 20:26] obastemur commented on #19
@honorew AFAIK, you need to develop it but don't listen to me and please ask it on https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureiothub

[2018-09-19 20:26] #19 closed

[2018-10-07 10:46] guybartal opened #22 "error connecting to iot central after updating to firmware 2.0.0"
![20181007_134248](https://user-images.githubusercontent.com/3179107/46580934-4ab22100-ca37-11e8-8b07-263b27e26187.jpg)

[2018-10-07 16:02] obastemur commented on #22
There are breaking changes to Azure Iot Central device provisioning approaches. Have you reconfigured the device?

[2018-10-07 16:48] obastemur commented on #22
BTW; a reason for your old connection string is not working might be related to hub changes. New symm key etc. auth approaches dynamically switch the hubs in case the previous one is no longer available.

[2018-10-08 06:47] guybartal commented on #22
I've noticed those changes, so I've loaded the new iot centra firmware + sample app (v2.0.0) to my MXchip and registered it to IoT Central with all the new configuration IDs. after reboot I got this error...

[2018-10-08 14:52] obastemur commented on #22
Have you associated the device from web ui? Under devices explorer > unassociated

[2018-10-09 07:40] guybartal commented on #22
the device was already associated... I've tried to delete it and register it again and it worked.

[2018-10-09 19:24] RPagels opened #23 "MXChip setup option to select temperature reading, C or F."
I'm currently using the AZ3166 version of the application.  I would like to see 2 options added to the web UI questions that show up when connecting to http://192.168.0.1/start.

New Question 1: Option for delay in seconds in between sending telemetry to Azure.
New Question 2: Option to send Temperature in Celsius or Fahrenheit .

example
Temperature conversion in file: telemetry.cpp

#ifndef DISA

[2018-10-11 17:47] obastemur commented on #22
closing this, taking it offline.

[2018-10-11 17:47] #22 closed

[2018-10-24 21:00] wgcv opened #24 "IrDa send information"
Hi
I'm checking the IRremote library for arduino but doesn't work with the az3166; also I'm checking the documentation (https://microsoft.github.io/azure-iot-developer-kit/docs/apis/irda/) but I don't know how to send a infrared command with *char .

For example in arudino with IRremote is like this
[code]

how i send in AZ?

[code]

But I don't know if the protocol is ok? Because doesn't work.

[2018-10-24 23:44] obastemur commented on #24
I don't have a receiver at the moment to test. @ArthurMa1978 can you comment on this?

[2018-10-25 01:17] wgcv commented on #24
For example I'm using LG controller
With the arduino and IRremote i get this:
[code]

But if i use
[code]
The arduino doesn't read any code. I think that is a problem with the encode (IRremote encode with NEC) and IrdaSensor->IRDATransmit only send plain. (Also i don't know what is size and timeout; and pdata is ok like 0x20DF10EF?)

[2018-10-25 10:56] akubicharm opened #25 "How to register many devices using x509 certificate."
I'd like to register 20 devices to IoT Central using RaspberryPi firmware samples using x509 certificate.
When I use cert file which is generated by dice_device_enrollment tool, all devices communicate with IoT Central as 'riot-device-cert'.   I'd like to know how to register devices which has individual register id.
Regards,
Kei

[2018-10-25 17:29] obastemur commented on #25
Azure IoT Python SDK is currently based on C SDK. So, using the demo approach is not really practical. (sample cert is being embedded) This is because you would have to compile the SDK per each device.

If you want to use Python SDK, you can use the Symmetric key instead? Is this an option?

[2018-10-26 06:58] akubicharm commented on #25
According to "https://github.com/Azure/iot-central-firmware/tree/master/RaspberryPi", now I'm trying to compile SDK using Symmetric key.

The document specify to set SYMMETRIC_KEY_VALUE and REGISTRATION_NAME under hsm_client_key.c, but I don't know how to set that 2 values.

In addition though I checked out dps_symm_key branch and compiled whole code, but ProvisioningSecurityDeviceType.SAS is not

[2018-10-29 05:38] ArthurMa1978 commented on #24
As my answers in the gitter:
The code is not correct. Here the  *counter* is *unsigned char*, so it will be truncated if you assign 0x20DF10EF to this variable. And the second parameter is the size of the buff in byte, nit bit.
So the right code is just like:
[code]

[2018-10-29 20:03] obastemur commented on #24
@ArthurMa1978 thanks for the help. closing for now

[2018-10-29 20:03] #24 closed

[2018-10-29 20:05] obastemur commented on #25
@akubicharm I just sent a PR with easier symmkey option -> https://github.com/Azure/iot-central-firmware/pull/27 please let me know if and what part is not clear so I can improve the PR. Thanks!

[2018-10-29 20:05] wgcv commented on #24
Thanks @ArthurMa1978 !

[2018-10-29 20:56] obastemur commented on #8
@turbolego were you able to find the reason? Can you try the updated sample?

[2018-12-04 17:49] theonesuperdave opened #29 "MXChip - Http connection failed to connect"
I have an issue with the MXChip where the device is able to connect to WiFi, but then unable to make an outbound HTTP connection to Azure IoT Central. Looks like it is somewhere in the `iotHubClient.cpp`. This is what I was able to get from the device on Serial Port 9600:
[code]

Any ideas where I can get more details or maybe you know of a fix? I am running the latest firmware (2.0.0), and have t

[2018-12-04 19:05] obastemur commented on #29
@theonesuperdave have you checked the IoT Central UI (device explorer -> unassociated devices) and associate the device id with a template?

[2018-12-04 19:20] obastemur commented on #29
Just to make sure.. You are no longer seeing that device on `unassociated devices`, right?

I would suspect from DNS is not able to resolve the time servers hence the future expiration time wasn't set properly. Do you have a custom DNS set on your WiFi?

[2018-12-04 19:32] obastemur commented on #29
I see. Probably it's DNS (time servers). I've got a similar issue with one of the networks at the office. The only fix I know off is to edit the source codes and force set device DNS to gateway IP manually. Perhaps, OS layer could manage this better.

[2018-12-04 19:41] theonesuperdave commented on #29
Ah, so I either need to get fixed the time of my DNS server to match Azure IoT Central or hack the DNS entries manually. What about simply setting a `host` entry locally to the IP address? This is just a POC.

[2018-12-04 19:48] obastemur commented on #29
Global time servers not related to Azure IoT Central or Azure etc. (pool.ntp.org)

Do the business network need sign-in etc. steps? looks like, the whole http stack is having problem there. You may connect mxchip to your mobile hotspot?

[2018-12-04 19:53] theonesuperdave commented on #29
Ok, more or less what I thought. Thanks. And yes, no login page in the middle. I found other `NtpClient` warnings in the event logs for my workstation, so definitely points to the problem there. Will see if I can get those resolved and give it another go.

[2018-12-04 19:59] obastemur commented on #29
Fingers crossed :) closing this one for now

[2018-12-04 19:59] #29 closed

[2018-12-04 20:49] theonesuperdave commented on #29
Just putting this here in case someone else runs into the issue. This turned out to be a bad DNS server still active which was preventing the Azure endpoint from being resolved. Once that was removed, everything works as expected.

My only ask is that the docs be updated to include this plus a few details which point us to serial port watching on port 9600 in VS Code (screenshot below).

![image](

[2018-12-13 12:13] kurtng opened #31 "Be more clear on steps and output of start.sh during initial setup with X509"
I think it should be more clear here what outputs you get during initial setup procedure for X509 certificates.
After ./start.sh first time execution the device is created in IOT Central but the command says DEV_AUTH_ERROR which makes me think something went wrong.
The documentation should state this or the command should be more user friendly in its response and informative.
You should then stop

[2018-12-13 12:52] kurtng opened #32 "How to execute direct twin methods"
Can you put more information on how to execute Direct twin method calls (rainbow on LED)?

[2018-12-13 16:11] polarapfel opened #33 "Error when connecting to WiFi (after setup) (AZ3166)"
Hi there,

I am exposing a WiFi hotspot on a Windows 10 host. The WiFi is a 2.4Ghz network.

I have successfully flashed the device with the latest firmware, set the access credentials to IoT Central and provided the correct WiFi credentials for a WiFi hotspot exposed from a Windows 10 host.

The AZ3166 shows up with its MAC as connected to the WiFi on the Windows 10 host. However, the device show

[2018-12-13 21:17] obastemur commented on #33
Logs would help. Try https://microsoft.github.io/azure-iot-developer-kit/docs/use-configuration-mode/

Use 9600 as baud rate instead of 115200

[2018-12-13 21:20] obastemur commented on #31
@kurtng  we are aware of the pain points for Python SDK and working on them. I didn't really understand what went wrong with following the steps. Is this something you want to / can contribute or give more details?

[2018-12-13 21:22] obastemur commented on #8
closing this for now. updated sample should work

[2018-12-13 21:22] #8 closed

[2018-12-18 13:19] kurtng commented on #31
when i run ./start.sh first time it says DEV_AUTH_ERROR, which made me think that something was wrong. But only think I needed to do was run it once again. The documentation should point that more clearly.

[2018-12-18 13:22] kurtng commented on #32
I am actually reffering to the documentation here: https://github.com/Azure/iot-central-firmware/tree/master/RaspberryPi
It does not say how i can call the direct twin methods on the template firmware for iot central and sensehat on raspberry pi.

[2018-12-18 16:45] obastemur commented on #31
`DEV_AUTH_ERROR` appears when a device is not associated to a particular template. (assuming the creds you put there are correct). We are working on improving the messaging and the behavior there. I will keep this here to track that issue.

[2018-12-19 05:54] obastemur commented on #32
Keeping this open until we update the Python SDK / samples on this repo.

[2019-01-06 10:56] andyt530 opened #37 "sketch/src/config.cpp:119:5: error: 'sasKey' was not declared in this scope"
Hi,

Working with MXCHIP AZ3166  (v1.6.0)
On macOS with the latest (fixed version) for iotz  (https://github.com/Azure/iotz/issues/51)
Trying to get a customised version of mxchip_advanced for IOT Central:

Defining my own wifi in definitions.h
[code]
$ iotz compile
sketch/src/config.cpp: In static member function 'static void ConfigController::readGroupSXKeyAndDeviceId(char*, char*, char*, char&)

[2019-01-06 15:50] obastemur commented on #37
Are you trying to set wifi params only? How about device credentials?

[2019-01-06 15:56] andyt530 commented on #37
Yes the full file is below ......

#define WIFI_NAME "MyName"
#define WIFI_PASSWORD "mypassord"

// #define IOT_CENTRAL_CONNECTION_STRING "put the iot central connect string here"

// use the ones below for SAS or X509
// REQUIRED for SAS
#define IOT_CENTRAL_SAS_KEY "sqIl+vq2............................................"
#define IOT_CENTRAL_REGISTRATION_ID "yyyyyyyyyyy-xxxx-xxxx-xxxx-..............

[2019-01-06 16:08] obastemur commented on #37
Looks good. Replace ‘sasKey = true;’ with atype = 'S';

[2019-01-06 16:12] obastemur commented on #37
Please also comment out ‘#define IOT_CENTRAL_CONNECTION_STRING "https://myconnect.azureiotcentral.com"’

[2019-01-06 16:14] andyt530 commented on #37
Yes - did both and now have new compiled firmware - thank you.

[2019-01-06 17:02] andyt530 commented on #37
Just noticed - anything above a 30 second interval:
#define TELEMETRY_SEND_INTERVAL 30000

And the device goes into a loop - always "Starting ....."   again after 35 seconds - display gets as far as sent: 2  and it restarts every time.

Doesn't happen if TELEMETRY_SEND_INTERVAL is 30000 or less

Is there some kind of watchdog / timeout I need to change ?

[2019-01-06 17:35] andyt530 commented on #37
I set the timer to longer than that (and it seems to be ok). Either way it's now sending telemetry every 6 minutes without restarting which it what I wanted.

[2019-01-07 00:44] obastemur commented on #37
Sounds great.

[2019-01-07 00:44] #37 closed

[2019-01-07 00:45] obastemur commented on #33
Closing for now

[2019-01-07 00:45] #33 closed

[2019-01-15 08:50] goncaloruao opened #39 "trouble using new pi python app"
Hi guys !

I'm following the new tutorial from a few hours ago .

But after running the new app on my pi i get the following error:

ERROR : (_mqttConnect) ('ERROR: non JSON is received from %s => %s', ('global.azure-devices-provisioning.net', b'{"operationId":"4.115980cfc72fed8b.6dd9fcff-78d5-4f23-99a7-d84fc34a5263","status":"assigning"}'))

My pi changed from registed to Provisioned inside iot c

[2019-01-15 16:48] obastemur commented on #39
Python 3.6+ or 2.7+ are the requirements.

[2019-01-15 20:17] obastemur commented on #39
I did just release an update package and dropped the supported version from 3.7+ to 3.4+.. so it should cover your device without anything else.

[code]

Make sure you have iotc 0.1.6+

Thanks for reporting this issue. closing for now. feel free to open it back if it's not solved for you

[2019-01-15 20:17] #39 closed

[2019-01-16 07:59] goncaloruao commented on #39
Thanks for the support! It's already working fine on my device!

[2019-01-18 04:28] davidbabicka opened #40 "c++ or python client?"
We are at the prototype stage and couldn't decide whether to invest on c++ or python. We found a python example under raspberry folder and made it work on our mips based board. It ticks all the boxes for us. We've failed to make Azure iot c sdk work with our device.

How likely you guys may come up with a more generic solution for c-c++?

[2019-01-24 17:53] gregdegruy opened #41 "Are the macro definitions referring to memory addresses?"
At line 43 https://github.com/Azure/iot-central-firmware/blob/master/MXCHIP/mxchip_basic/src/iotc/iotc.h

[2019-01-31 00:32] gregdegruy opened #43 "Used same callback for all the iotc on events"
Is it better practice to instead make separate call backs for each event?

Line 81
https://github.com/Azure/iot-central-firmware/blob/master/MXCHIP/mxchip_basic/mxchip_basic.ino

Example
[code]

Or does the onEvent method need to be decoupled?

[2019-02-04 19:24] #43 closed

[2019-02-05 20:15] gregdegruy opened #46 "fatal error: azure_prov_client/prov_security_factory.h"
Am I missing a dependency, how do I resolve this?

`sketch/src/iotc/sdk_plat/iotc.cpp:14:53: fatal error: azure_prov_client/prov_security_factory.h: No such file or directory`

[2019-02-05 20:52] obastemur commented on #46
What exactly you are doing?

[2019-02-05 21:05] gregdegruy commented on #46
Trying to upload this Arduino sample code as is from [here](https://github.com/Azure/iot-central-firmware/tree/master/MXCHIP/mxchip_basic). Only changed the commented sections.

<img width="1244" alt="screen shot 2019-02-05 at 3 02 56 pm" src="https://user-images.githubusercontent.com/8151045/52303976-2b7cbf00-2957-11e9-9edf-ce4e812fef97.png">

[2019-02-07 15:12] gregdegruy commented on #46
@obastemur any feedback on this? Also raised [SO issue](https://stackoverflow.com/questions/54565710/azure-iot-sdk-c-set-up-a-macos-mac-os-x-development-environment) https://stackoverflow.com/questions/54565710/azure-iot-sdk-c-set-up-a-macos-mac-os-x-development-environment

[2019-02-07 16:25] obastemur commented on #46
@gregdegruy can you share some details please?

Go into board manager and check the mxchip firmware version please

[2019-02-08 05:03] gregdegruy commented on #46
Pulled down the MXCHIP basic example for [Azure IoT Central](https://github.com/Azure/iot-central-firmware/tree/master/MXCHIP/mxchip_basic) as is and get this error.

sketch/src/iotc/sdk_plat/iotc.cpp:14:53: fatal error: azure_prov_client/prov_security_factory.h: No such file or directory
I'm pretty sure I need to [Set up a macOS (Mac OS X) development environment](https://github.com/Azure/azure-i

[2019-02-08 06:19] gregdegruy commented on #46
Making progress! Switched to the Arduino IDE, installed the latest Azure IoT C libs, and ensured I have the latest MXCHIp AZ3116 board installed in the IDE board manager

Have a new error now.
[code]

<img width="1274" alt="screen shot 2019-02-08 at 12 17 06 am" src="https://user-images.githubusercontent.com/8151045/52461982-e616e800-2b36-11e9-8fb5-ce9aa237964f.png">

<img width="1071" alt="screen

[2019-02-08 13:22] rg6512 opened #47 "Adding State information in Raspberry PI sample"
I modified my device template to include a Temperature State of Normal, Warning, or Critical.  I modified the code to evaluate the temperature and establish the state.  The state messages are being sent to IoT Central but the information is not available for display.  The simulated device in IoT Central displays the state correctly.  Any help would be appreciated.
Here is the section of the code:

[2019-02-08 15:34] gregdegruy commented on #46
I'll raise a new issue for this new error, main issue was fixed by updating the MXCHIP firmware version and installing all of these Azure IoT Libs. Compiles and gives the same output in both VS Code and Arduino IDE.

[2019-02-08 15:34] #46 closed

[2019-02-08 15:57] gregdegruy opened #48 "Undeclared functions prov_dev_set_symmetric_key_info and hsm_client_set_registration_name_and_key"
Pulled down the code as is, ran the sample and got the following error.  When I comment the following lines in `iotc.cpp`, the sketch uploads and runs as expected!

[code]

MXCHIP firmware `Version 1.6.1 (February 1, 2019)`

**Board**

- IoT Developer Kit by Microsoft Developer version 1.6.1

**Arduino libs**

- IoTHub by Microsoft Version 1.0.45
- IotHub Built-In by Microsoft Version 0.0.1
- THub

[2019-02-08 16:25] obastemur commented on #48
@gregdegruy #45 is to mend the issue. Thanks for looking at this!

[2019-02-08 16:25] #48 closed

[2019-02-08 16:31] obastemur commented on #47
Make sure the status information is upper case and inside the double quotes.

[2019-02-08 18:56] rg6512 commented on #47
The code example I showed above is from a modified Python example  The formatting didn't transfer well when I pasted into the comments.  The code is running and I see the expected callback information.  The telemetry is available but not the state information.  See callback results:

- [onmessagesent] => { "tempStatus": NORMAL }
- [onmessagesent] => { "temp": 22, "humidity": 59, "distance": 42}

[2019-02-08 19:28] obastemur commented on #47
When you put `NORMAL` without quotes, that wouldn't be a valid JSON since there is no type / value for `NORMAL`. That's why, it should be `"NORMAL"` -> `{ "tempStatus": "NORMAL" }`

[2019-02-08 19:55] rg6512 commented on #47
Thanks.  That worked.  I appreciate the help and insight.

[2019-02-08 19:59] obastemur commented on #47
Cool, glad to hear that!

[2019-02-08 19:59] #47 closed

[2019-02-09 13:45] SMARTHON opened #49 "8266 DPS endpoint PUT call has failed."
Hi ALL, i got the wifi connected. I am using nodemcu, entered the right information.

However, the below error I got, I double checked the scopeId, deviceId, deviceKey already. Are there any problem on it? Thanks!

⸮Hp⸮⸮>dh⸮⸮xI<⸮  - Connecting WiFi..
- iotc.dps : getting auth...
- iotc.dps : getting operation id...
ERROR: DPS endpoint PUT call has failed.
X - Error at C:\Users\Ken Lai\Downloads\

[2019-02-09 17:01] obastemur commented on #49
That error means that it could not reach at the server at all. Possibly a connection issue

[2019-02-09 17:12] SMARTHON commented on #49
Thanks for your reply! Does it mean the problem on server side? Or the firmware problem? Because i just noticed that the firmware development for 8266 to azure iot central is quite new. Just wonder... thanks!

[2019-02-09 17:18] obastemur commented on #49
Neither. Most probably the wifi connection.

[2019-02-10 02:12] SMARTHON commented on #49
Thanks! However, I have just changed another hotspot (different ssid and pw), the same error happened... Do you have any idea on it? Many thanks.

[2019-02-11 16:50] obastemur commented on #49
Can you share the steps you follow ? and which exact board?

[2019-02-13 17:36] stevebus opened #51 "trying to build Base OS - missing parson.h file"
fresh install of Ubuntu 16.04 running fresh install of iotz

Trying to build the MXChip base OS, so I can bypass the certificate validation to connect MXChip to IoT Edge.  I'm following the instructions here ->  https://github.com/Azure/iot-central-firmware/tree/master/MXCHIP/mxchip_advanced/build_firmware

When I do the iotz make, I get the following error about a missing parson.h file.  Where do

[2019-02-14 01:46] obastemur commented on #51
There are breaking changes to devkit-sdk build configuration. I'm planning to use the approach from https://gist.github.com/obastemur/f5c7132e1233c7cf2e4c6dce5f548b26 and update the sample.

[2019-02-14 02:41] stevebus commented on #51
I don't completely follow what that comment means and/or what it buys me in the scenario where I need to make changes to the underlying dev kit and use those in your iotc firmware...

[2019-02-14 05:25] obastemur commented on #51
The link I shared is a way to compile a very basic mxchip app with the devkit. The trick is to  remove  the main logic file there and put the mxchip_advanced folder instead. However I know it’s not trivial.

This repo doesn’t have any official duty to explain how to compile devkit-sdk and the build script for that purpose is kept seperated under a sub folder. However, I understand the pain point a

[2019-02-14 14:05] SMARTHON commented on #49
Dear SIr,

Sorry for the late reply! The board I am using is nodemcu dev kit v1.0 board.

1. For the platform, I follow the steps provided strictly.

- Visit AzureIoTCentral and create a new application.
- Select Sample Devkits
- Add a new mxchip device. (real device) (Under the Device Explorer)
- Browse into device window and click/open Connect on the top-right of the device screen

2. For the fi

[2019-02-14 14:38] stevebus commented on #51
Ok, got it.. Appreciate the advice and the link.    Been knocking all the rust off of my C skills and get lost sometimes in all the build configs.

[2019-02-14 19:16] obastemur commented on #51
@stevebus could you please try and verify https://github.com/obastemur/mxchip_az3166_firmware ?

[2019-02-14 20:21] stevebus commented on #51
yeah - that build process worked great...  going to muck around in the code to see what changes I need to make now, but the build process was very smooth.  thanks!

[2019-02-14 20:22] obastemur commented on #51
happy to hear.

[2019-02-14 20:22] #51 closed

[2019-02-18 15:04] 10c0 opened #54 "ESP32 Compile Error"
Getting the following error when running make flash on ESP32. Tried on two different computers and build stops at same place.

[code]
Only the iotc.h files is copied to the main/iotc directory. I copied the other folders and files there from ~/esp/iot-central-firmware/MXCHIP/mxchip_basic/src/iotc/ to main/iotc and it did not make a difference.

[2019-02-18 15:52] obastemur commented on #54
What are you trying to achieve?

[2019-02-18 16:14] 10c0 commented on #54
https://github.com/Azure/iot-central-firmware/blob/master/ESP32/esp-azure/Makefile does a file copy of only the iotc.h file. So I opted to bring in the rest to see if it made a difference, it did not.

[code]

[2019-02-18 21:18] obastemur commented on #54
Could you please `git pull && git checkout esp32_full` and see if that will work for you?

[2019-02-19 14:43] 10c0 commented on #54
The compile completed and flashed. I'll run make monitor next to see what is going on. So far the device is not showing up in the IoTC console.

[2019-02-19 15:21] obastemur commented on #54
Double check the “unassociated devices”

[2019-02-19 18:52] obastemur commented on #49
@SMARTHON "ERROR: DPS endpoint PUT call has failed" happens only when the board is not able to reach at Azure.

The issue could be a connection issue OR a certificate validation issue. Do you know if your router is behind a proxy?

[2019-02-19 18:53] obastemur commented on #54
I will close this one since the original `compile error` is no longer the issue. Feel free to write here if you got other problems. Thanks for opening this!

[2019-02-19 18:53] #54 closed

[2019-02-20 10:28] SMARTHON commented on #49
I see, I don't think so.

Because I use normal wifi function in arduino, and I can upload the data to ThingSpeak platform using API. It proves that there is no problem on router.

Also, I tried the hotspot from my phone, still doesn't work..

Thanks a lot for your help.

[2019-02-21 13:30] BigBadPhysicist opened #56 "iotc.isConnected() never fails."
Hi,

i have iotc running on a Raspberry Pi 3 B+.

I run into the issue, that if the Raspberry Pi is loosing Internet connection, the loop

while iotc.isConnected()

never sees that the connection was lost.

The programm keeps running and gCanSend is always true.

I tested this with an LTE Stick running the code and sending telemetry to IoT Central.
As soon as i pull the LTE Stick the mqtt messages

[2019-02-22 15:41] obastemur commented on #56
AFAIK Hub’s mqtt broker supports ping. Thanks for opening this issue, I will take a look at it

[2019-02-22 15:44] obastemur commented on #49
I’m curious if retry support would fix the issue for you. Are tou able to share all the logs from serial connection?

[2019-02-22 17:03] SMARTHON commented on #49
Hi sir,

Thanks for your reply.

The whole serial log are below.

====================================================
Connecting WiFi..
- iotc.dps : getting auth...
- iotc.dps : getting operation id...
ERROR: DPS endpoint PUT call has failed.
X - Error at C:\Users\Ken Lai\Downloads\iot-central-firmware-master\iot-central-firmware-master\ESP8266\esp8266_arduino\esp8266_arduino.ino:70
	Error @ iotc

[2019-02-22 20:24] mchute84 commented on #24
Can I ask a quick question - Did you manager to get the IR signal emitting with the code/changes above?

[2019-02-28 21:32] obastemur commented on #49
@SMARTHON  are you able to follow the steps from README? I made few changes to code (i.e. removed FlasStringHelper since it might not work with some of the boards.. Can you please update the code and follow the steps and let me know the result?

[2019-02-28 21:32] obastemur commented on #40
closing for now. feel free to open it back if you feel like it

[2019-02-28 21:32] #40 closed

[2019-03-01 02:52] obastemur commented on #49
possibly you were the victim of TLS lib update on esp8266 headers. Please update to latest code and no matter what version you have, this problem should be fixed.

[2019-03-02 00:39] Busch commented on #49
I got the exact same issue using the latest code. ESP8266 header firmware is on version 2.5.0 (also doesnt work with versions 2.4.2, 2.4.1 and 2.4.0):

  - Connecting WiFi..
  - - iotc.dps : getting auth...
  - - iotc.dps : getting operation id...
  - ERROR: DPS endpoint PUT call has failed.
X - Error at C:\Users\user\Desktop\ARDESP\ESP8266\ESP8266.ino:70
	Error @ iotc_connect. Code 1

[2019-03-02 01:59] obastemur commented on #49
You mean the current latest sample doesn’t work for you? Can you share more details please?

[2019-03-02 02:11] obastemur commented on #49
A bit more info; esp8266 firmware has deprecated axtls and the prev. CA cert interface. However it’s more than that since the new API doesn’t work the way it does before. ie. You need make an extra api call. As a result, we have compile time check in code to determine that and use fingerprint instead of CA cert.

In case there is an alternative there and neither of these work for you, please share

[2019-03-02 10:12] Busch commented on #49
Thanks for your fast reply. Sure, here's more information about my environment and steps to reproduce:

- Hardware: Node MCU ESP8266
- Arduino Settings:

* Added the additional board manager URL (File->Preferences): http://arduino.esp8266.com/stable/package_esp8266com_index.json
* Installed the Board "esp8266" Module (Tools->Board Manager) in latest version 2.5.0
* Selected "Node MCU 1.0 ESP-12E M

[2019-03-02 10:19] obastemur commented on #49
Can you insert ‘IOTC_LOG(“fingerprint!!!”);’ right before the line
https://github.com/Azure/iot-central-firmware/blob/master/ESP8266/src/iotc/arduino/iotc.cpp#L86 ? And share the serial logs?

[2019-03-02 10:26] Busch commented on #49
Sure. Here's the serial log:

  - Connecting WiFi..
  - - iotc.dps : getting auth...
  - - iotc.dps : getting operation id...
  - fingerprint!!!
  - ERROR: DPS endpoint PUT call has failed.
X - Error at C:\Users\user\Desktop\ARDESP\ESP8266\ESP8266.ino:71
	Error @ iotc_connect. Code 1

[2019-03-02 10:38] SMARTHON commented on #49
@obastemur
Hi, I updated my code to the latest code from github too. And I also used the latest version for 8266(2.5.0). I still got the same issue with same log..

⸮H⸮⸮h⸮$⸮yI⸮⸮  - Connecting WiFi..
  - - iotc.dps : getting auth...
  - - iotc.dps : getting operation id...
  - ERROR: DPS endpoint PUT call has failed.
X - Error at C:\Users\Ken Lai\Desktop\iot-central-firmware-master\iot-central-f

[2019-03-02 10:46] SMARTHON commented on #49
Hi ALL, For my pc, I have also added the line, below is the same result.

⸮EO|t`MM⸮4C8⸮⸮  - Connecting WiFi..
  - - iotc.dps : getting auth...
  - - iotc.dps : getting operation id...
  - fingerprint!!!
  - ERROR: DPS endpoint PUT call has failed.
X - Error at C:\Users\Ken Lai\Desktop\iot-central-firmware-master\iot-central-firmware-master\ESP8266\ESP8266.ino:70
	Error @ iotc_connect. Code 1

[2019-03-02 11:13] obastemur commented on #49
Can you please select 2.4.2 for the esp8266 version from board manager and see the result + output ? Thanks!

[2019-03-02 11:17] SMARTHON commented on #49
Dear ALL,

1. it works for 2.4.2! (For more info, Mine is arduino IDE 1.8.8 window store 1.8.19.0)

⸮DOz4`LME⸮<C8⸮⸮  - Connecting WiFi..
  - - iotc.dps : getting auth...
  - - iotc.dps : getting operation id...
  - - iotc.dps : getting host name...
  -
hostname: XXX
deviceId: XXX
username: XXX
password: XXX

  - Is connected ? YES (64)
  - - [ConnectionStatus] event was received. Payload => EMPTY

[2019-03-02 11:17] SMARTHON commented on #49
@obastemur Thanks

[2019-03-02 11:21] Busch commented on #49
I can confirm it is working with version 2.4.2!

Thanks @obastemur and @SMARTHON

[2019-03-02 11:24] obastemur commented on #49
Cool! I’m happy that you got it working now :) please keep 2.4.2! I’ll be watching out for the developments and investigate this further.

[2019-03-02 11:56] SMARTHON commented on #49
Thanks @obastemur
Thank you too! @Busch

[2019-03-04 05:17] juhaluoto opened #58 "mxchip-advanced: Where to add delay for telemetry sending?"
I am a bit rookie here, and I have been trying to add delay to the telemetry sending, where would it make sense to add? Post processing of the data is getting difficult, if the telemetry is send so often.

Thank you!

[2019-03-04 05:36] obastemur commented on #58
@juhaluoto which example? or platform?

[2019-03-04 16:22] juhaluoto commented on #58
I have been working with the MXChip AZ3166 Devkit using the mxchip_advanced.

[2019-03-05 01:37] obastemur commented on #58
You could increase the `TELEMETRY_SEND_INTERVAL` value from https://github.com/Azure/iot-central-firmware/blob/master/MXCHIP/mxchip_advanced/inc/globals.h#L37 and that would affect
https://github.com/Azure/iot-central-firmware/blob/master/MXCHIP/mxchip_advanced/src/telemetry.cpp#L131

[2019-03-05 06:48] juhaluoto commented on #58
Thank you, I totally missed that. Now I got it and it seems I had to change the watchdog timer to be longer, as I wanted to have telemetry sent once a minute. Many thanks for fast reply!!

[2019-03-05 06:58] #58 closed

[2019-03-08 09:43] BigBadPhysicist commented on #56
Hi,

I just wanted to know if there is an update?

I can send you additional logs and give you acces to a smalles working example if you need support.

[2019-03-08 15:38] FuzzyPones commented on #56
Alternatively, MQTT supports Quality of Service. If QoS is 1 the broker should reply with a PUBACK.
I see that paho mqtt is used and in the doc QoS can be set:

Also it returns a MQTTMessageInfo that should have an error if connection fails.

Also, the connect already has an automatic PING implemented:

The iotc.py code is closed source or can I find that somewhere?

[2019-03-12 00:07] obastemur commented on #56
source code is available at https://github.com/obastemur/iot_client/tree/master/python appreciate the contributions!

[2019-03-18 19:05] #49 closed

[2019-03-21 05:48] massand opened #61 "Central firmware device configuration page displays max 10 Wifi SSIDs"
When viewing the WiFi connection drop down within the setup page of the device, 10 arbitrary WiFi SSIDs show up, with no ability to connect a specific SSID by name (using free text field). We need to change it so that we can load more APs or have free text field to allow SSID manual entry

[2019-03-28 14:14] BigBadPhysicist commented on #56
Thank you for providing the link.

I looked into your code.

The problem seems to be the function

[code]

_mqttConnected is set to true as soon as you call _on_connect and is only set to false if you call disconnect.

I did not see any other way _mqttConnected is changed.

This should be included in

[code]
or

[code]

I am still not sure why the connection doesn't recover on its own if one messa

[2019-03-31 17:10] sgazinski commented on #33
Hi there I have exactly the same problem. From the videos and instructions connecting to azure iot hub seemed to be very easy but I am stuck getting the mxchip connected to my wifi. It always says 'WiFi Connecting...'
I have the plan to connect to an iphone (tethering) and in fact the phones says there is one connection but the chip is continiously trying to connect and every 60 seconds the displa

[2019-03-31 17:27] sgazinski opened #62 "Error when connecting to WiFi (after setup) (AZ3166)"
Hi there I have exactly the same problem. From the videos and instructions connecting to azure iot hub seemed to be very easy but I am stuck getting the mxchip connected to my wifi. It always says 'WiFi Connecting...'
I have the plan to connect to an iphone (tethering) and in fact the phones says there is one connection but the chip is continiously trying to connect and every 60 seconds the displa

[2019-03-31 18:25] obastemur commented on #33
@sgazinski have you looked at the logs? See my comment above for how to do it

[2019-03-31 18:37] sgazinski commented on #33
Sorry but I have difficulties to understand this ... I have not worked with putty yet but I downloaded it yesterday... I have not worked with VS so I have problems in finding out what is the com port ... is there another way to find out which com port is used... maybe then I am able to connect with putty and find the logs

[2019-03-31 18:43] sgazinski commented on #33
okay i made some progress ...

ERROR: Failed to connect Wi-Fi Ipۛ[;▒s
  - Sensonh▒{cc+▒▒:initSensors
X - Error at /src/MXCHIP/mxchip_advanced/BUILD/sketch/  - WiFiController::initWi                  Fi
ERROR: Failed to connect Wi-Fi Iphonegz.
  - SensorController::initSensors
X - Error at /src/MXCHIP/mxchip_advanced/BUILD/sketch/src/telemetry.cpp:29
        WiFi - NOT CONNECTED - return
▒▒▒▒
▒▒r▒▒

[2019-03-31 18:45] sgazinski commented on #33
now i get this
 mode.

  - Configuration found entering telemetry mode.
  - WiFiController::initWiFi
Wi-Fi Iphonegz connected.
Time from pool.ntp.org, now is (UTC): Sun Mar 31 18:45:19 2019

  - WiFi WL_CONNECTED
  - SensorController::initSensors
  - AzureIOTClient::init START
  - SCOPEIError: Time:Sun Mar 31 18:45:21 2019 File:C:\Users\v-zuhu\AppData\Local\Arduino15\packag

[2019-03-31 21:10] obastemur commented on #33
Glad you passed WiFi connection part.

The error above says that the device key (primary/secondary..) is not the one you are supposed to. You grab the key from (Device Explorer => click to Device => click to 'Connect' button on top right) ?

[2019-04-01 11:50] sgazinski commented on #33
Yes but maybe I made a mistake there... In the configuration page there is only one field for the key
What I did ... I wrote  pkey and skey in the field seperated by a '/'. Is this correct...? Or do I have to just put them in one after the other without any seperator...?

[2019-04-01 13:45] obastemur commented on #33
pick one and use that alone

[2019-04-01 17:59] sgazinski commented on #33
okay I try that now

[2019-04-01 18:32] sgazinski commented on #33
without success! I can not retreive the PIN Code... the chip does not come up with this message:
Connect HotSpot:
AZ3166_??????
go-> 192.168.0.1
PIN CODE xxxxx

[2019-04-01 18:34] obastemur commented on #33
press reset button and then A and B buttons together?

[2019-04-01 19:28] obastemur commented on #33
feel free to open that as a separate issue. Glad you made it

[2019-04-01 19:28] #62 closed

[2019-04-01 19:28] obastemur commented on #62
already solved in #33

[2019-04-06 17:58] alwint3r opened #63 "[ESP32] deviceTwinGetStateCallback triggers LoadProhibitedError when device receive settings from IoT Central"
I am trying the ESP32 firmware and I noticed a bug that triggered LoadProhibitedError which then reboot the ESP32 whenever the device receives setting from Azure IoT Central.

Here's the payload of the setting

[code]

The code that triggers LoadProhibitedError is https://github.com/Azure/iot-central-firmware/blob/a71a1bf5407cc9b8e98870afae75481db621c542/ESP32/esp-azure/main/iotc/iotc.cpp#L419

Se

[2019-04-06 18:34] obastemur commented on #63
Surely the ESP32 sample here has an expected scenario. I’ll be more than happy to make it suitable for your case. Would you like to send a PR?

[2019-04-06 18:50] alwint3r commented on #63
I don't mind creating a PR once I figure out how to make it work in my case and another case in general.

[2019-04-09 05:11] SMARTHON opened #64 "Cannot guarantee that the connection can be successfully every time"
Hi ALL,

I can connect the azure iot central from 8266 successfully.

However, it doesn't guarantee that it can connect successfully everytime.

The error as show below. Sometime, i try many times as mid-night. It doesn't work. However, i try one time an another time, it can connect right the way. Sometimes, I try several times to make it work. Is it the problem from server side?

 - - iotc.dps :

[2019-04-09 17:13] obastemur commented on #64
@SMARTHON from your logs `ERROR: couldn't fetch the time from NTP.`

The WiFi interface you got does have a problem with resolving the NTP. You may update the code and use a static ip instead of uri if you are unable to fix the DNS on your router

[2019-04-09 17:24] SMARTHON commented on #64
@obastemur   Thanks for your reply again!

However, I don't think it is the problem from the DNS of the router. The reason is I use the same router, it cannot connect to the azure iot central with the percentage around 30%. It can connect to the azure iot central with the percentage around 70%.

Sometime, I cannot connect with many trial within 10 minutes. And 10 mins after a while, it can connect

[2019-04-09 19:31] obastemur commented on #64
@SMARTHON all the symptoms sound similar. Presumably, the reason is the DNS settings.

[2019-04-09 19:31] obastemur commented on #64
In the sample, you may replace NTP fetching code to some static future time value.

[2019-04-12 00:09] obastemur commented on #64
Closing for now. Feel free to open it back.

[2019-04-12 00:09] #64 closed

[2019-04-17 21:46] obastemur commented on #31
iot central x509 sample is available from https://github.com/Azure/dps-certgen/tree/master/samples/python

[2019-04-17 21:46] #31 closed

[2019-04-17 21:47] obastemur commented on #25
details are available under https://github.com/Azure/dps-certgen/tree/master/samples/python

[2019-04-17 21:47] #25 closed

[2019-04-20 01:13] SkylarLK9998 opened #67 "Disconnects after 6 hours due to "not authorized""
Device: Raspberry Pi 3 Model B+
Operating System: Raspbian 9
Python Version: 2.7.13

After running for 6 hours I get: 'on(disconnect): Not authorized'
This is accompanied by 12 or 24 'ERROR: (sendTelementry) failed to send. MQTT client return value: 4' when I am rapid firing messages, but when I'm firing messages at a decreased speed I do not get these messages. In the end the command line creates

[2019-04-20 03:18] obastemur commented on #67
Are you using a free application or paid one?

[2019-04-23 15:20] SkylarLK9998 commented on #67
Paid application. S1 tier.

[2019-04-23 15:53] SkylarLK9998 commented on #67
This error occurs regardless of if I rapid fire messages or do fire them at a slower pace. I only have 2 devices (both RasPis) on this application and they both crash after 6 hours even when have yet to hit the 400k daily message limit. My Python Script has a counter that keeps track of my message count so know exactly how many messages get sent. The message limit is not the problem.

[2019-04-23 17:19] obastemur commented on #67
6 hours corresponds to token expiration limit.

[2019-04-26 18:46] SkylarLK9998 commented on #67
I tried an if-statement that calls iotc.connect once the authorization expires and it didn't work. Any ideas?

[2019-04-27 23:48] obastemur commented on #67
can you please share a sample code for what you did? with some log?

[2019-04-29 16:22] anderl80 opened #69 "ESP32 using Arduino IDE"
Can you provide an example for the ESP32 using the Arduino IDE? The given is using the ESP-IDF. Many many thanks!!

[2019-04-29 17:14] anderl80 opened #70 "Cannot build using vscode & platform.io"
I cloned the repo, used eps32 src and put it in this folder structure:
![grafik](https://user-images.githubusercontent.com/23196828/56913838-eded8500-6ab2-11e9-9b4d-f4d5054b3d24.png)

Project configured as esp-idf:
![grafik](https://user-images.githubusercontent.com/23196828/56913913-1aa19c80-6ab3-11e9-95ca-e94e04cbfa81.png)

Tried to build:
![grafik](https://user-images.githubusercontent.com/2319

[2019-04-29 17:17] obastemur commented on #70
looks like a missing header file issue. have you cloned the target repository `recursively`? and have those folders?

[2019-04-29 19:38] anderl80 commented on #70
I downloaded the repo zip and copied the esp32 folder with all subfolders and files.

[2019-04-29 20:46] obastemur commented on #67
you may try the version 0.3.2 which may help you to manage token expiration time and `isConnected` status

changelog
[code]

simply `pip install iotc --upgrade`

[2019-04-29 20:46] obastemur commented on #56
0.3.2 fixes it

[2019-04-29 20:46] #56 closed

[2019-04-29 20:47] obastemur commented on #70
hmm, are you also able to confirm `azure_c_shared_utility/gballoc.h` in path?

[2019-04-29 21:10] anderl80 commented on #70
![grafik](https://user-images.githubusercontent.com/23196828/56927203-e094c280-6ad3-11e9-9a1e-8ba2832d6842.png)

Files seem to be missing. `azure_c_shared_utility` is not part of the repository.

[2019-04-29 21:11] anderl80 commented on #70
No cannot find the file.

[2019-05-06 22:43] sandervandevelde opened #72 "ESP8266 Settings is not picked up directly after restart of device"
I sent setting values to my ESP8266 with the latest sketch.

this was done with a device which was running and connected to the Arduino DE but not connected to the WIFI.

Afterward, when deploying the same sketch with update WIFI settings, the settings are still not sent. The Update button is grayed out and the labels are not showing a new latest update time.

I expect the ESP to check for setting

[2019-05-06 22:58] obastemur commented on #72
@sandervandevelde you were possibly using the esp8266 sample code with your own device template? can you be more specific? and make sure you have the latest code.

[2019-05-07 18:57] zhaodong2013062 commented on #70
I just tried the sample on on my machine without platform.io and it works, so I don't think that it is an issue with misplaced files or includes. I'm not familiar with platform.io - perhaps you need to tweak the file structure?

[2019-05-07 19:45] anderl80 commented on #70
ok, thanks

[2019-05-07 20:06] anderl80 opened #74 "Connection lost after sending telemetry (ESP8266)"
Somehow the connection is lost after sending a telegram.

[code]

[code]

[2019-05-07 20:24] obastemur commented on #74
Curious if it's an `snprintf` bug with `%f`. Could you try another value with `%d` ?

could you also please put `msg[pos] = 0;` before the send_telemetry?

[2019-05-07 20:54] sandervandevelde commented on #72
Yes, you are right in both cases. This is about the ESP8266.ino. And I was not using the latest code.

But when I checked the if the same issue still occurred (disconnecting my device, updating the two settings, connecting my device and checking the Serial monitor in the Arduino IDE for the stack trace) I ran into two issues:

ISSUE 1. the device crashed on startup

Yes, the settings are now read

[2019-05-07 20:55] anderl80 commented on #74
Seems, I cannot use Serial COM, following works

[code]

[2019-05-07 20:57] obastemur commented on #72
You've got a stackoverflow while printing out the payload for settingsUpdated.

Can you share your code? I will try to see if I can repro.

[2019-05-07 21:00] obastemur commented on #74
make sense. stick with `LOG_VERBOSE`. it's a `serial.printf`

[2019-05-07 21:00] #74 closed

[2019-05-07 21:43] sandervandevelde commented on #72
Well actually, this is just the standard library, extended with a few extra lines of code:
https://gist.github.com/sandervandevelde/ad55c28fc31c7ea718f6af8d155c1055

[2019-05-08 01:55] obastemur commented on #72
Not sure how fast you trigger the events. If that's the case, you might need to alloc the payload memory inside the callback handler and re-use. Just checked the base sample and it works fine.

i.e. you updated the sample to send reported property as well. Which will end-up generating callback. Once the callback is created, the logic there will allocate a memory to show the payload. You could show

[2019-05-08 01:55] #72 closed

[2019-05-08 01:58] #67 closed

[2019-05-08 22:36] sandervandevelde commented on #72
Hello, thanks for this information. I will dive into this suggestion. I cannot deny that the device is limited but I was hoping it should be able to receive two settings ;-)

Did you look at the second issue with the IoT Central dashboard? You should be able to see this one too. Can you address this to the IoT Central team?

[2019-05-08 22:56] obastemur commented on #72
It’s not a central side issue. You got stack overflow before ack is complete. Thus, central can’t confirm that you received the setting update

[2019-05-09 12:34] #70 closed

[2019-05-09 13:06] dianahinz opened #78 "c client for l476RG iothub"
I've been struggling to make azure iot c sdk work with my l476rg. No luck. Found iotc client here and confirmed that it fits into my l476RG with 128kb.

I played the sample application scenario and tested with azure iot central. What I'm supposed to do for iothub only? Is iotc expected to work with azure iothub only?

[2019-05-10 23:36] obastemur commented on #78
@dianahinz Have you shared the problem details to Azure IoT SDK C repository?

short answer: consider iotc client as a thin layer on top of platform soft layers. It supports `connection string` authentication (default hub authentication) as well as others. You shouldn't have any issue with connecting / using Azure Iothub. Because it's a thin layer, I encourage you to look at the API and see if you

[2019-05-11 00:18] cumakeen commented on #78
I'm in the same boat. We made iotc client to work with our samd device.

Do you accept contributions to iotc? Where exactly it is hosted?

[2019-05-12 04:38] rmrewak opened #79 "iothub message id with iotc"
How can I set iothub message-id with iotc? (mbed sample)

[2019-05-12 04:39] rmrewak commented on #78
Same as @cumakeen . Silently patching our copy of iotc. Any plan to update mbed sample? (#79 )

Thanks for the samples and good work but don't expect us to scan all microsoft documents and follow up with the developments by ourselves.

[2019-05-13 17:46] obastemur commented on #79
Please take a look at https://github.com/Azure/iot-central-firmware/blob/master/freeRTOS/b-l475e-iot01a1-bg96-verizon/azure_iotc_sample/lib/iotc/common/iotc_internal.cpp#L478

It's all about adding the iothub system properties into topic.

[2019-05-13 17:46] #79 closed

[2019-05-21 02:43] melisaohlsen opened #80 "iot central x509 authentication"
Hi folks! is there a documentation for x509 connectivity with python?

[2019-05-21 03:13] obastemur commented on #80
`dps-certgen` is what you need. See https://github.com/Azure/dps-certgen/tree/master/samples/python

[2019-05-21 03:13] #80 closed

[2019-06-04 23:55] stefanzvonar opened #81 "AZ3166 Access Point Can't Connect To Network (MXCHIP)"
Using latest firmware (v2.1.1) I can't for the life of me get a connection (using many other wifi devices) to the MXCHIP's Access Point, to even be able to configure it.

Keeps saying "Can't connect to this network"  or "Access Denied".

Prompt on the chip's display is:
Connect HotSpot:
AZ3166_SRSDFT
go-> 192.1638.0.1
PIN CODE XXXX

[2019-06-04 23:58] obastemur commented on #81
[mxchip_setup.html.zip](https://github.com/Azure/iot-central-firmware/files/3254906/mxchip_setup.html.zip)

You may use the html app from the zip file above and create a device binary with the necessary info instead. (your wifi ssid / password and app details). It's an offline http app.

[2019-06-04 23:58] obastemur commented on #81
I'm not sure why your device is not able to connect MXCHIP wifi endpoint though. Might be related to supported radio fq?

[2019-06-05 01:05] stefanzvonar commented on #81
Thank you @obastemur, you're a life saver, that offline .bin generator was exactly what I needed! :)

[2019-06-05 13:14] #81 closed

[2019-07-02 14:23] ppoektos opened #83 "HTTP Bash: Unterminated string. Expected delimiter."
While using provided bash script I'm getting this error:
[code]

This is code that I exactly have:
[code]

What's wrong with **registrationId** here?

[2019-07-02 17:32] obastemur commented on #83
Please mind the `content-length: 25` . Any changes to device id etc. length must be represented in that number.

[2019-07-02 18:14] kartben commented on #83
Right. Actually, the content-length header is not required as curl automatically sets "Content-Length: 0" header when -d/--data flag is used. I will submit a PR.

[2019-07-02 18:22] #83 closed

[2019-07-03 07:30] ppoektos commented on #83
Hi.
After removing that content-length header I'm getting this:

[code]

[2019-07-26 06:27] albahmed23 opened #85 "IoT Central Website Issues - Gateway Issues"
There are times when accessing our URL for our IoT Central Dashboard it would not load and would show an error "Gateway Error" - I did not take a screenshot of it because it just comes sometimes out of no-where and would then disappear.

I am not sure if there are some issues with the servers hosting the IoT Centrals Dashboards. Please let me know if anyone has any idea or faced the same issue?

A

[2019-07-29 09:23] bhjolly opened #86 "Corrupted Heap"
I just followed all the instructions for the ESP32 example and got everything set up, make flash completed successfully, make monitor looks like it works for a few seconds with successful connect and transmit but the ESP32 resets on what looks like a transmit confirmation:

`I (3755) event: sta ip: 192.168.1.114, mask: 255.255.255.0, gw: 192.168.1.1
I (3755) azure: Connected to AP success!
Initial

[2019-08-05 11:29] SavioBT opened #87 "Error: control reaches end of non-void function [-Werror,-Wreturn-type]"
Hi all, this is the issue:
I am trying to compile MBED OS of the IoT-Central Firmware with the MBED Studio v.0.5.3 . This project is for the UBLOX_C030_R410M so I have added the easy connect library made specifically from UBLOX. I have modified the mbed_app.json file to use ETHERNET.

The compiler gave this error at 99.2%.

<code>
Compile [ 99.2%]: iotc_common.cpp

[ERROR] In file included from .\

[2019-08-08 21:37] albahmed23 commented on #86
I have the exact same issue as well. Followed the instructions for ESP32 and get the multi_heap.c error. The CORRUPT HEAP assert.

It might have to do with the timestamp since there are some digits that are coming in after the payload that might cause the heap to overflow?

Any ideas why this might be happening? Have you tried something new.

Thank you!

[2019-08-11 21:34] bhjolly commented on #86
No idea sorry, I've bailed to AWS IoT Core for the moment (device code libraries seem more reliable)

[2019-08-12 05:27] obastemur commented on #86
/cc @Azure/azure-iot-sdk-c-admins

@zhaodong2013062 You had issue with ESP32 too right?

How about https://github.com/espressif/esp-azure ?

[2019-08-12 06:04] bhjolly commented on #86
FYI that's for IoT Hub (requires a 'connection string'), not IoT Central (gives you 'scope', 'id', and 'key'). From memory I had some success with that when running a Hub but if you want Central then you need something else I think.

[2019-08-30 18:24] jaybode opened #89 "pypi.org/project/iotc/ micropython callback incomplete - any plans to complete?"
Hi All,

I notice that the Micropython version that uses umqtt.simple client has an empty callback function.

I finally got iotc to import running on esp32 with no errors (needed expanded PSRAM version)

This _mqttcb function is an empty for callback, so is doing nothing when calling a command initiated from IOTC portal; but received MQTT command when debugging with print.

`  def _mqttcb(self, to

[2019-08-30 18:54] obastemur commented on #89
It should be feature complete with micropython. There must be something else going on. Which version of the mp?

[2019-08-30 19:14] jaybode commented on #89
I was using iotc-0.3.3.tar.gz from PiPy a few weeks back.  I see a new version now 0.3.4

I see 0.3.4 it is the same - but I didnt test yet. unless I am missing something.

Line 135 sets the callback when micropython detected:
`__self._mqtts.set_callback(__self._mqttcb)`

The callback is empty.
`
  def _mqttcb(self, topic, msg):
    # NOOP
    pass
`

State changes seem to work when changing a sta

[2019-08-30 19:25] obastemur commented on #89
`def _mqttcb(self, topic, msg): # NOOP pass` is by design. Which MP (micropython) version?

[2019-08-30 19:26] jaybode commented on #89
This was my attempt to complete the function so commands work on micropython.
It receives/prints command once. Second time crashes loop.

` def _mqttcb(self, topic, msg):

    #print('### topic: ' + str(topic))
    #print('### msg: ' + str(msg))
    #pass

    if topic == None:
      LOG_IOTC("WARNING: (_onMessage) topic is None.")
      return

    if msg != None:
      try:
        msg = msg.dec

[2019-08-30 19:33] jaybode commented on #89
I see your new question:

I am using a fork to use SPIRAM. Otherwise I cannot import iotc library without running out of memory.

https://github.com/loboris/MicroPython_ESP32_psRAM_LoBo

Good question on version of Micro-python. I am not sure, I need to check.

But if the NOOP section by design, then the device does nothing when a command is sent to it when running micropython??

I see the other f

[2019-08-30 19:35] jaybode commented on #89
I can load Micropython on Linux version and test and report back results, but confident I will get the same results when it detects usimple.mqtt client and used the different function for callback - which to me is empty compared to if import on normal python and other function is called.

[2019-08-31 03:55] jaybode commented on #89
I figured out the bug in my code in filling in the missing function _mqttcb - and all working now for me. The missing function contents cannot be by design sorry. It simply doesn't work without this function when running in micropython and umqtt.simple

I think you should discover yourself later that when running in Micropython. The 'settings update' and 'commands' when run from IOTC portal does n

[2019-08-31 03:55] #89 closed

[2019-09-11 12:54] frederic-thibault opened #90 "ESP32 CMakeLists.txt"
Hi,

We move our build system to use CMake with CMakeLists.txt for esp-idf (ESP32). We also have to update Azure IoT Hub SDK.

Do you planned to add the required files in Azure/iot-central-firmware to support CMake with appropriate CMakeLists.txt?

Thanks

[2019-09-18 23:01] ridomin opened #91 "Latest firmware does not show PIN"
I've been trying to install the latest firmware:
`MXChip AZ3166 sample firmware v.3.0.0-beta.2`

But I've not been able to find the device PIN to complete the setup. Is this a known issue?

[2019-09-18 23:06] ridomin opened #92 "Is this firmware aligned with Plug and Play?"
and how this is related to https://github.com/MXCHIP/IoTDevKit ?

[2019-10-08 09:14] dmitriyteteruk opened #93 "Esp8266 C code message code update"
Hi!
Current code for esp8266 send two messages with different telemetry (accelerometer X and DieNumber)
`      if (loopId++ % 2 == 0) {  // send telemetry
        pos = snprintf(msg, sizeof(msg) - 1, "{\"accelerometerX\": %d}",
                       10 + (rand() % 20));
        errorCode = iotc_send_telemetry(context, msg, pos);
      } else {  // send property
        pos = snprintf(msg, sizeof(

[2019-10-16 09:03] lucadruda commented on #91
Firmware v.3 beta was not meant for production use but for testing with mobile applications.
Current documentation doesn't apply to that firmware.
Deleting release to avoid confusion and closing issue

[2019-10-16 09:03] #91 closed

[2019-10-24 12:17] edsase opened #94 "Getting the template details"
Hi,
It will be great to be able to get the template details from IOTC to the device using the API. Use case is: once the template has been changed, the device code can get notified or be checking regularly and only sends the telemetry indicated on the template to the cloud. At the moment, if the template changes, like when new telemetry variables are added to a template, the programmer would have

[2019-10-28 02:10] interfacemirror commented on #33
@obastemur  I am having a similar problem here. The device is set to use my old WIFI. When I try to reconfigure the device it simply not allowing me to do. I tried using 115200 and 9600 ports. It simply says that it is not able to connect to my wifi. I tried resetting by pressing B and Reset. It only shows to me "NO WIFI" message all the time. I also flushed out the firmware few times with no luck

[2019-10-28 11:12] kartben commented on #94
Hi @edsase -- I would suggest you have a look at IoT Plug-and-Play, and try out the public preview of Plug and Play on IoT Central. It's meant to help the server (in your case IoT Central) essentially know in real-time what capabilities a device has in real-time, i.e know what telemetry it sends etc.

[2019-10-28 11:39] edsase commented on #94
Thanks for your suggestion @kartben. What I am looking for though is a function that would be called from the device via the api that gets the template details from the server unto the IOT device. I saw IOTC Central has a get_properties() function. A similar function, call it get_template_details() would be really handy.

[2019-11-01 01:59] georgegoglodze opened #95 "IoTC python client connect exception: InvalidURL"
Hi everyone,
I am using python IoTC client to push data to IOTC app. https://pypi.org/project/iotc/
Everything was working fine a month age but just discovered that all of my iotc python clients are failing with the exception listed below. Please advise if you know any workaround.

[code]

[2019-11-04 13:23] edsase commented on #95
Oh, I'm getting the same error. In my case, it only happens when I try to run the code in a docker container. It runs well on my laptop and on a RaspberryPi host but fails with the above error in the docker container  as I explained [here](https://stackoverflow.com/questions/58679047/invalid-url-error-is-raised-when-running-azure-iotc-connect-from-within-a-pyth). Will indeed appreciate a workaroun

[2019-11-05 01:18] kartben commented on #95
Could you confirm which version of the iotc pip package you are running?
Doesn't look like it's the latest version, from the stack trace? I am not
sure why your URL would be this giant string with not only the URL but also
HTTP header and payload..? so would be great to know/confirm what version
of the lib you are using.

On Mon, Nov 4, 2019 at 8:23 AM Edmond Sesay <notifications@github.com>
wrote

[2019-11-05 08:22] edsase commented on #95
IOTC version on both laptop and raspberryPi is 0.3.4 which is the latest version. Like I mentioned above, it works well for me both on my Windows 10 laptop and RaspberryPi host. I only get this error when the code is ran in a Docker container within a RaspberryPi host.

[2019-11-05 12:24] georgegoglodze commented on #95
I am using the latest version of IOTC as well and I receive the error
message on both Docker and Ubuntu server.

On Tue, Nov 5, 2019 at 3:22 AM Edmond Sesay <notifications@github.com>
wrote:

[2019-11-05 13:19] kartben commented on #95
Can you check that your iotc __init.py__ matches https://github.com/obastemur/iot_client/blob/master/python/src/iotc/__init__.py? The line numbers you have in your stack trace don't line up with 0.3.4 so this is definitely weird...

@obastemur or @firedog1024 might have some thoughts?

[2019-11-05 15:30] obastemur commented on #95
Were you able to ping the azure iot global endpoint from docker? DNS resolver configuration might be the issue

[2019-11-05 15:32] obastemur commented on #95
Alternatively, I would look at the encoding of the file.

[2019-11-05 16:21] edsase commented on #95
I had pip 18.6 and updated to pip-19.3.1 (latest version). I rebuilt the image (after clearing old layers) but still got the same result.

@obastemur, I didn't set up any network in the container but used only default. Which encoding are you referring to? I am not doing any encoding but im guess is being done by the IOTC package? Again, the really weird thing here is the script only fails in the c

[2019-11-05 16:47] kartben commented on #95
What really looks weird to me is that apparently it's trying to connect to an URL that has headers and payload and stuff, all as part of the URL

[code]

Hence the error message about improper character ' '

[2019-11-05 17:51] obastemur commented on #95
That’s why I asked about the encoding or any tampering to file that may brake cr+lf

[2019-11-06 09:59] lucadruda commented on #95
version 0.3.4 works well when running on python 2.7 and gives no error when accessing the URL.

[2019-11-06 18:32] georgegoglodze commented on #95
@lucadruda Can you please share you python client?
As for me I tested python2.7 and 3.6 on Ubuntu 18 and Centos 7 but still see the same URL error

[2019-11-06 21:56] lucadruda commented on #95
It works for me on 2.7 with same client (0.3.4).
Anyway PR with fix for both 2.7+ and 3+ is open and waiting for code review.

[2019-11-07 09:38] lucadruda commented on #95
Fix is available. Please pull latest version (0.3.5) available on [https://pypi.org/project/iotc/](https://pypi.org/project/iotc/)
Closing the issue

[2019-11-07 09:38] #95 closed

[2019-11-07 11:43] georgegoglodze commented on #95
Worked like a charm! Thanks everyone.

On Thu, Nov 7, 2019 at 4:38 AM Luca Druda <notifications@github.com> wrote:

[2019-11-07 13:13] edsase commented on #95
Yes! Worked perfectly! Thanks Guys

[2019-11-08 23:45] abdjiber opened #96 "Encrypted telemetry data"
Hi,

I am storing my real device data connected to iot central with a blob storage. I would like to apply AI on the data in Azure ML studio however the telemetry data are encryted. How could I decrypt them ? Or avoid the encryption ? Here is an example of what I got in the Body on my JSON's files:

"Body":"eyAJCQkJImFpcl9odW1pZGl0eSI6IDEyLCAJCQkJImFpcl90ZW1wZXJhdHVyZSI6IDMsIAkJCQkicHJlc3N1cmUiOiA1

[2019-11-09 00:52] kartben commented on #96
You need to set the content type of the messages you sent to IoT Central to
"application/json" and the encoding to "utf-8"

Le ven. 8 nov. 2019 à 18:45, DJIBEROU MAHAMADOU <notifications@github.com>
a écrit :

[2019-11-09 13:24] abdjiber commented on #96
Thanks for your response. I am using the iotc python package. If I set the systemProperties = {"content-type":"application/json", "content-encoding":"utf-8"} after one message is sent the connection status become 1 and the telemetry sending stop.

[2019-11-09 23:47] albahmed23 commented on #85
This was fixed by MS.

[2019-11-09 23:47] #85 closed

[2019-11-11 21:00] georgegoglodze opened #97 "IoTCentral - Telemetry dashboard refresh rate"
Hi Everyone, I am pushing data every 5 sec to IOTC and looks like some data is not plotted on the dashboard.
Can you please let me know what is the refresh rate to visualize live data or what is the limitation such as how many messages per minute we can push to IOTC.

[2019-11-14 13:00] lijithomas88 opened #98 "Telemetry data not reflected for iotedgeDevice with custom module in IotCentral"
We are trying out IotCentral for iotEdgeDevices. When we tried with SimulatedTemperatureSensor module added, we were able to see telemetry data in lineCharts. But when we are pushing our custom module , telemetry data is not reflected in linechart views.

We are using a VM as iotedgeDevice, device is provisioned and module is running on VM.
Telemetry data format -
[{"payload":{"waterlevel":50},"ti

[2019-11-24 07:36] dmitriyteteruk opened #100 "mqtt-log : failed to receive on socket: [WinError 10054] An existing connection was forcibly closed by the remote host"
Hi! I am getting error that result in Python app stop to send a message. Python 3.8.0, iotc 0.3.5, paho-mqtt from iotc 1.5.0, httplib2 from iotc 0.14.0. Any suggestions/ideas?
[code]

[2019-11-24 12:19] kobidetrenewan commented on #100
I saw it too in my code. Once it is disconnected, it never recovers.

[2019-11-27 08:49] colindembovsky opened #103 "Error parsing device message from IoT Central on MXChip"
I have compiled and uploaded the MXChip Avanced sample. I am able to register and receive telemetry from the board. However, the commands do no not work.

If I enter "5" into the CountDown command from IoT Central, the message gets to the MXChip but there appears to be an error parsing the packet:

[code]

The same behavior is displayed for all of the other commands.

[2019-12-05 13:08] 385 commented on #7
Works like a charm! The new firmware was the solution 👍🏽

[2019-12-10 15:49] asergaz commented on #100
same here

[2019-12-12 00:22] lmasieri commented on #100
Hi @kobidetrenewan @dmitriyteteruk  if you're still experiencing the disconnect issue, can you please DM me your app ID  (can be found in Admin section), the device ID, and the SDK language you're using. We're looking to troubleshoot this.

[2019-12-12 08:18] kobidetrenewan commented on #100
Hi Luis,
I found a mistake in my logic:
I expected the on_connect() event to be re-triggered once the connection is reestablished and there I modified a private "canSend" variable, which dictates if the central loop tries to send the device data to the IOTC..
But the on_connect() event never re-triggered again.
Now I changed the test of canSend to a call to the function iotc.isConnected() instead,

[2019-12-13 00:45] lmasieri commented on #100
Thanks for confirming @kobidetrenewan

[2019-12-16 13:05] Transistor15 opened #106 "ESP8266 WITH AZURE IOT HUB"
We are implementing an IoT telemetry solution using Azure IoT Hub. By using the project here we were able to implement a successful basic solution on an ESP8266. However we would like the ESP to work also as a Web server on the local WiFi network, mainly for initial configuration purposes.

If we add to the aforementioned project this line:
Fatal exception 29(StoreProhibitedCause): epc1=0x4000e1b2

[2020-01-08 14:26] Frostlock opened #107 "Python - how to catch cloud to device error messages?"
I'm using the example code from pypi
When sending properties I sometimes mess up and the JSON is not accepted by the IOT hub.
With full logging enabled this shows up in the console output but I would like to catch this in a cleaner way. It would be nice to have a "MessageReceived" to subscribe to.
Or is there a proper way of doing this which I currently don't see :)

To reproduce add the following

[2020-01-13 12:25] Frostlock opened #108 "Python - Geopoint property fails to upload"
I'm using the IOTC firmware (through python). I have been able to upload location data as telemetry. However I have not been able to upload location data as a basic property.
This should be possible, as illustrated by one of the answers on my [question on stackexchange](https://stackoverflow.com/questions/59661241/using-a-geopoint-property-in-azure-iot-central)
but it doesn't work for me using Pyt

[2020-01-27 08:59] lucarv opened #109 "Bricked MXCHIP"
i have an az3166 v1.0. if i upload this firmware to the device, i gets bricked. The RGB leds is solid red, nothing on the display and the buttons are irresponsive. any clues?
am i using a version of the hw that is incompatible?

[2020-02-06 11:32] aimjarozas commented on #96
Hi, u have the same problem, this have some solutions?:
iotc.sendTelemetry("{\"temp\": " 20"},{"contentType":"application/json","contentEncoding":"utf-8"}): after one message is sent the connection status become 1 and the telemetry sending stop.

If I put the follow:
iotc.sendTelemetry("{\"temp\": " 20"},{"contentEncoding":"utf-8"})

The system put the contentEncoding in Properties, but this must

[2020-02-07 11:21] skmohsin opened #110 "IOT Central Device Connection String Issue"
Hey team,

I am trying to create a connection string for iot central device using following link
https://dpsgen.z8.web.core.windows.net/

but its showing me below error.

.Error: Time:Fri Feb 7 11:14:59 2020 File:C:\azure-iot-sdk-c\provisioning_client\src\prov_device_ll_client.c Func:_prov_transport_process_json_reply Line:300 failure retrieving json auth key value Error: Time:Fri Feb 7 11:14:59 2

[2020-02-18 15:10] zishanyang opened #111 "Renew the SAS token and reconnect automatically"
iotc - Azure IoT Central - Python (light) device SDK
https://pypi.org/project/iotc/

I'm using above for my Raspberry PI to connect to Azure IoT central SaaS.  It has a expiration for SAS token, which can be managed as device.setTokenExpiration(totalSeconds).  However, in case of token expired, the program will exit, and the re-connection won't work since the token has expired does not accept any

[2020-02-19 17:06] prasannapattam commented on #108
This worked for me
`{"location":{"lat":48.9332077,"lon":8.9611761}}`

[2020-02-20 01:20] prasannapattam commented on #108
I also have same problem. I was able to get the location by telemetry. But not as property.

I couldn't get any Property to work. I defined a writable string property in the Template and using the following C# code to send data and this is not working.
`message.Properties.Add("currentloc", DateTime.Now.ToLongTimeString())`

Is there any precautions to define a property in Templates?

[2020-03-09 14:55] e1614331TU opened #112 "iotc.sendTelemetry(message) returns randomly error 4"
I'm working on a project with iot central based data logging and the connection to the internet is done via a UMTS stic. Data is collected and stored locally until there is good signal strength, then all the collected data is sent to the iot central in a loop.

The issue is that after some messages
     iotc.sendTelemetry(message)
returns code 4, connection refused.
After all collected messages I

[2020-03-13 13:58] dmitriyteteruk commented on #108
Use below JSON format of geo location properties or telemetry - works for me.
{
  "Location":{
    "value":{
      "lat":55.752078,
      "lon":37.619435
    }
  }
}

[2020-03-13 14:06] dmitriyteteruk commented on #112
There are several limits in IoT Central - message size, # of messages per device and # of messages per second that IoT Hub (that is working in the back end) can absorb.
Could you please share size of message and # of messages that you are sending and during which period of time?

[2020-03-13 14:48] dmitriyteteruk commented on #106
you can add wifi autoconnect and web-server code into your sketch.
[here is my example](https://github.com/dmitriyteteruk/esp8266-iotcentral-web-setup/blob/master/esp8266-4sensors-iotc.ino) of combined telemetry send to IoT Central with web-server and auto-connect option on it.

[2020-03-13 15:10] dmitriyteteruk commented on #111
code should work fine and do re-connect. [Here is similar case](https://github.com/Azure/iot-central-firmware/issues/100) with same code and author found error in his app logic.

[2020-03-13 15:14] dmitriyteteruk commented on #107
[Check format of JSON](https://jsonformatter.curiousconcept.com/) output - it is incorrect.
![jsonvalid](https://user-images.githubusercontent.com/34028526/76633907-84edef00-6556-11ea-8c04-1fea001d947e.PNG)

[2020-03-13 15:20] dmitriyteteruk commented on #110
Retrieve IoT Central IotHub connection string is [depreciated](https://github.com/Azure/dps-keygen#retrieve-hub-connection-string-deprecated)

[2020-03-13 15:26] dmitriyteteruk commented on #97
data usually showed as it comes (1-2 seconds delay is possible), but keep in mind that IoT Central SKUs are for 5000 and 30000 messages per month per device.
So 30000 messages per devices per month means around 1 message per 1,5 minutes.

[2020-03-13 15:26] #93 closed

[2020-03-13 20:38] Frostlock commented on #107
Thanks for the feedback :) I see my question might have been confusing. The key point is not the JSON formatting. The key point is how to catch errors that the IOT central platform sends back.
So to be specific: How can I access the
`"message":"Error occured while parsing message payload as UTF-8 JSON object."`
part of the log above programmatically? If the IOT central sends an error message back

[2020-03-16 13:23] Frostlock commented on #108
Thanks @dmitriyteteruk
I have pulled up my code from before. No changes made on client side, no changes made on my device template. Both the telemetry and the property upload of location data now work correctly.
I'm wondering if something got fixed in the backend :)
If anyone knows where I can find the Azure IOT Central release notes please share.

Closing this ticket since it looks to be solved.

[2020-03-16 13:23] #108 closed

[2020-03-16 13:29] dmitriyteteruk commented on #108
@Frostlock , it was working in legacy application templates around 1,5 years and it start to work for single device in current app template some time ago (1-2 month) while it is still marked as Know Issue that is not working.

[2020-03-16 13:31] #100 closed

[2020-03-16 14:04] Frostlock commented on #108
@dmitriyteteruk interesting, where do you find that information? We are currently on the public preview version and it would be nice to have a look at the known issues.

[2020-03-16 14:12] dmitriyteteruk commented on #108
@Frostlock, Preview word is not appears anymore in ex-Preview (Current) Apps when you are creating it. [Official announcement](https://azure.microsoft.com/ru-ru/blog/location-and-maps-in-azure-iot-central-powered-by-azure-maps/) of Maps support was in June 2018. I found that Preview start to be current sometime ago, then Preview announcement stooped to appear in documentation. And I am testing cur

[2020-04-02 22:20] vjavle opened #113 "iotc library crashing upon update of iot central writable property - ESP8266"
Steps to reproduce at high level:

1. Create a a device template with 2 Telemetry values (temp,humidity), 1 command, 1 Writeble Property (bool)
2. Create a device
3. Follow steps in sample ESP 8286 and connect using necessary 5 parameters (wifi and IOT central device parameters)
4. Telemetry values are reported fine
5. If a Property is updated from IOT Central UI for the device, crash in ESP 8286

[2020-04-04 23:33] 5MarsR opened #114 "iotc.connect failed after internet reboot"
hi,
so we had a power outage and i had a rapsberry pi 3 with the iotc librairy, in case of a power failure code will just restart after power is back on. when i used the librairie version 3.3 we never had any problem, but when I upgraded to version 3.5, after the reboot it seems the internet router was taking some time to restart, the previous version would still work if the power went router clos

[2020-04-06 18:26] vjavle opened #115 "Cannot make https calls once connected to IOT Central through MQTT"
**Wanted implementing ESP 8266 firmware update**
upon receiving a command from IOT Central to device, devices would pull a .bin file from Azure storage https URL (no other security for now to keep it simple).
**Issue:**
Not able to connect to Azure storage https endpoint through "command received" event handler

**Diagnostic so far:**
Steps:
1) to understand where is failure, moved **makeHttpReque

[2020-04-13 05:32] avinashreddy24 opened #116 "Reset not working."
I tried to reset MXCHIP using A+B buttons hold at same time for more than 20 seconds. But nothing is happening, It's not reseting (any suggestions)

[2020-06-17 14:33] MatthijsvdVeer commented on #113
I'm having the same issue on this device. I'm using 4 writable properties on my device template and updating them results in the device crashing.

[2020-06-20 07:47] TimoVee opened #117 "IoT Central values not update"
Any idea, why my Azure IoT Central application telemetry values not updating anymore in the view meters?
Value come from the device and it go to the servicebus (and I use logic app and database and these working correct). Yesterday this happening suddenly.

[2020-06-22 06:59] #117 closed

[2020-07-18 08:36] rploeg opened #118 "ESP32 - make flash error"
Hi,

I try to followed the manual to load the sample IoT Central code on my ESP32. I can upload (I use idf.py) all the examples of ESP-IDF to my ESP32 and that is working perfectly, but can't make this happen with this sample code (I am running on Mac, but tried it also on Windows). After 'make flash' I still get these kind of error:

` MOCKABLE_FUNCTION(, int, STRING_replace, STRING_HANDLE, handl

[2020-08-26 20:05] radik86 opened #120 "undefined string type"
Hi all,
I was checking the iot-central-firmware. I cloned the git repository and deployed it to my MXChip.
The sending of the telemetry data is working fine and the IoT Central is able to display the received telemetry.

But when I try to send an C2D command out of the iot central it is not working. It receives the command but crashes when tries to create a string variable --> s**td::__cxx11::basi

[2020-08-27 14:04] radik86 commented on #103
I have similar issue.
Have you solved it?

[2020-08-31 08:21] radik86 commented on #120
I just interprated the debugging wrong. My issue was that the method json.getStringByName("displayedValue"); in registeredMethodHandlers.cpp was not able to find the property "displayedValue" and hence caused an null exception. By skipping this part and using the payload instead of the json.getStringByName("displayedValue"); I was able to achieve my target.

Just comment this part:

   const char

[2020-08-31 08:21] #120 closed

[2020-08-31 08:23] radik86 commented on #103
I had similar Issue. My issue was that the method json.getStringByName("displayedValue"); in registeredMethodHandlers.cpp was not able to find the property "displayedValue" and hence caused an null exception. By skipping this part and using the payload instead of the json.getStringByName("displayedValue"); I was able to achieve my target.

Just comment this part:

const char * text = json.getStrin

[2020-09-04 21:46] waltercoan opened #121 "Temperature not show in IoT Central Template from AZ3166"
Hi!

The three last firmware's version from MXChip AZ3166, are sending the temperature into the JSON object using a attribute name temp. But the MXChip AZ3166 template in IoT Central expects that the temperature will be in a attribute named temperature. With this I can't see the temperature in the graphic's dashboard. I just can see the temperature in the sensor data tab.

[2020-09-05 07:32] thebiggestgit commented on #121
Noticed this too 😬

[2020-09-26 15:01] KrisWerbrouck1 opened #122 "Import error on raspberry pi"
i got following error with python on raspberry pi

Traceback (most recent call last):
  File "/home/pi/AzureIOT.py", line 5, in <module>
    from iotc import IOTConnectType, IOTLogLevel
ImportError: cannot import name 'IOTConnectType'

[2020-10-17 13:20] avokhour opened #123 "Sending Writable Property from IOTC to ESP8266 not working properly."
Hello there,

I am using a esp8266 for my iot project and I came across an error which I did not find any solution for it.
I am sending property from Device to IoT central and it is working perfectly.
While sending property from Cloud to Device then the problem starts.
While sending a property with a value of 0 then the esp8266 is accepting it, but when the value changes then it says you have a NU

[2020-11-04 16:00] paluigi commented on #64
Hello @obastemur , I have the same issue the OP had. Can you describe how to replace the NTP fetching code? Thanks!

[2020-11-04 16:11] paluigi commented on #49
Hello, the status is still the same? 2.4.2 is the last working version for ESP8266 board manager?